// farm.templ

package templates

templ Farm() {
    @Base("farmlock") {
        <div id="chart1" class="chart-container">
			<canvas id="time-souls"></canvas>
		</div>
		<div id="chart2" class="chart-container">
			<canvas id="time-souls-per-hp"></canvas>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
		<script type="module" src="/public/js/farm.js"></script>
    }
}
