// footer.templ

package templates

templ Footer() {
    <footer>
        <p>&copy; 2024 Ducklock. No right reserved. Deadlock is a registered trademark of Valve Corporation. Ducklock is an unofficial website.</p>
    </footer>
}
