// footer.templ

package templates

templ Footer() {
    <footer>
        <p>&copy; 2024 Deadlocker.tv. No right reserved. Deadlock is a registered trademark of Valve Corporation. Deadlocker.tv is an unofficial website.</p>
    </footer>
}
