// header.templ

package templates

templ Header() {
    <header>
        <nav>
            <ul>
                <li><a href="/">TV</a></li>
                <li><a href="/map">Map</a></li>
                <li><a href="/resources">Resources</a></li>
                <li><a href="/farm">Farm</a></li>
                <li><a href="/commands">Commands</a></li>
            </ul>
        </nav>
    </header>
}
