// index.templ

package templates

templ Index() {
    @Base("weblock") {
        <h1>Apps</h1>
        <a href="/farm">farm</a>
        <a href="/map">map</a>
        <h2>Links</h2>
        <a href="https://github.com/afnleaf/weblock">github repo</a>
        <a href="https://x.com/afnckingleaf">twitter</a>
    }
}
