// index.templ

package templates

templ Index(content string) {
    @Base("weblock", true, true) {
        <div class="content-container">
            <div class="index">
                @templ.Raw(content)
            </div>
        </div>
    }
}
