// index.templ

package templates

templ Index() {
    @Base(true, true) {
        <div class="content-container">
            <div id="twitch-embed"></div>
            <div>
                Row of links to click on (CLIPS?)
            </div>
            <div>
                Youtube channel.
            </div>
        </div>
        <script src="https://embed.twitch.tv/embed/v1.js"></script>
		<script type="module" src="/public/js/index.js"></script>
    }
}
