package templates

templ Map() {
    @Base("maplock") {
        <div id="chart1" class="chart-container">
			<canvas id="mapCanvas"></canvas>
		</div>
		<script type="module" src="/public/js/map.js"></script>
    }
}
