// resources.templ

package templates

templ Resources(content string) {
    @Base(true, true) {
        <div class="content-container">
            <div class="resources">
                @templ.Raw(content)
            </div>
        </div>
    }
}
